
<div class="movie-content">
	<div class="content-left">
		<% if @movie.poster_path %>
			<%= image_tag('https://image.tmdb.org/t/p/w500' + @movie.poster_path, class: 'img-thumbnail') %>
		<% else %>
			<%= image_tag('https://dummyimage.com/500x750/000/fff', class: 'fallback-thumbnail') %>
		<% end %>
	</div>

	<div class="content-right">
		<h1><%= @movie.original_title %></h1>
		<span class="movie-release">Release: <%= @movie.release_date.to_date.strftime('%b, %m %Y') %></span>
		<span class="movie-genres">Genres: <%= @movie.genres.map(&:name).join(', ') %></span>

		<div class="movie-overview">
			<%= @movie.overview %>
		</div>
	</div>
</div>